/* Your SCSS here. */
nav {
    position: sticky;
    background-color: yellow;
    height: 50px;
    top: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
}

nav li {
    display: block;
    padding: 15px 20px;
    text-align: center;
    float: right;
}

section{
    height: 100%;
    padding: 80px 20px;
    text-align: center;
    align-items: center;
}

#features > h2 {
    padding-bottom: 40px;
}

.multi-column-container{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.more-info > ul {
    list-style-type: none;
}

#review > p {
    text-align: left;
    padding-bottom: 10px;
}

#review > h2 {
    padding-bottom: 40px;
}