/* Your SCSS here. */

$primary-color: #8DB600;
$light-background-color: #DCEDC8;
$dark-secondary-color: #6B8E23;

@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

/*
Citation for sticky nav bar: 
https://claude.ai/share/3d3585f6-66c1-44cf-916c-2c5f82ea6992
*/
header {
    position: sticky;
    z-index: 9999;
    top: 0;
}

nav {
    background-color: $primary-color;
    height: 50px;
    color: white;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
}

nav li {
    display: flex;
    align-items: center;
    padding:0 20px;
    height: 100%;
    text-align: center;
    background-color: $primary-color;
    margin: 0;
    font-size: 18px;
}

nav li:hover {
    background-color: $dark-secondary-color;
    transition: 1s;
}

section{
    height: 100%;
    text-align: center;
    min-height: 100vh;
    margin: 0 auto;
   @include flex-center(column);
}

#experience > h2 {
    padding-bottom: 40px;
}

.multi-column-container{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

.multi-column-box {
    padding: 10px 20px;
}

/*
Citation for stuck background image
https://stackoverflow.com/questions/23570727/how-to-keep-background-in-fixed-place-while-scrolling
*/
#title{
    background-image: url('../assets/bg_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#video > video {
    margin-top: 10px;
}

/* citation for carousel
https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Overflow/Carousels
*/

#projects, #video {
    background-color: $light-background-color;
}

#projects > ul {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    width: 40%;
    height: 300px;
    border: 5px solid $primary-color;
    margin: 0 auto;
    margin-top: 20px;
}

#projects > ul > li {
    list-style-type: none;
    padding: 10px;
    scroll-snap-align: center;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

video {
    width: 50%;
    height: 50%;
}

.carousel-controls {
    margin: 0 auto;
    width: 100%;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    @include flex-center(row);
}

footer{
    padding: 20px;
    background-color: $primary-color;
    color: white;
    text-align: center;
    gap: 10px;
    @include flex-center(column);
}

#title > p {
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
}

button {
    padding: 10px 12px;
    background-color: $primary-color;
    color: white;
    border: none;
}

button:hover {
    background-color: $dark-secondary-color;
    transition: 1s;
}

a{
    color: white;
    text-decoration: none;
}

.multi-column-box {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.multi-column-box > button {
    margin-top: 10px;
    cursor: pointer;
}

.multi-column-box:first-of-type, .multi-column-box:last-of-type {
    animation: gridPulseSides 2s ease-in-out infinite;
}

.multi-column-box:nth-of-type(2) {
    animation: gridPulseCenter 2s ease-in-out infinite;
}

/*
dialog citation styling and usage 
https://css-tricks.com/using-and-styling-the-dialog-element/
*/

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &[open] {
        border: 2px solid $primary-color;
        padding: 20px;
    }
}

dialog > button {
    margin-top: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
}

@keyframes gridPulseCenter {
    0% {
        background-color: white;
    }
    50% {
        background-color: $light-background-color;
    }
    100% {
        background-color: white; 
    }
}

@keyframes gridPulseSides {
    0% {
        background-color: $light-background-color;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: $light-background-color; 
    }
}

.social-media-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.social-media-icons-style {
    font-size: 2rem;
}

@media (max-width: 1025px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 24px;
    }
}

@media (max-width: 769px) {
    .multi-column-container {
        grid-template-columns: 1fr;
    }

    #projects > ul {
        width: 80%;
    }

    #title > h1 {
        font-size: 36px;
    }

    p {
        font-size: 24px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    video {
        width: 80%;
        height: 80%;
    }
}

